    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #0d47a1;
      color: #fff;
      text-align: center;
      background-position: center;
      align-items: center;
    }

    .animation {
      text-align: center;
      margin-top: 100px;
      font-size: 50px;
      color: #b75300;
      font-weight: 15px;
    }
    .button{
        border-radius: 15%;
        font-size: 35px;
    }
